*{

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body{

  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 100vh;
  background: #0e1538;
}

.box1{
  position: relative;
  width: 260px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  overflow: hidden;

}

.box1::before{
  content: '';
  position: absolute;
  width: 210px;
  height: 100%;
  background: linear-gradient(#1DB9C3,#FF0075);
  animation: animate 4s linear infinite;
  
}

.box1::after{
  content: '';
  position: absolute;
  inset:4px;
  background: #0e1538;
}

@keyframes animate {
  0%{

    transform: rotate(0deg);
  }

  100%{

    transform: rotate(350deg);
  }
}

.box1 h2{

  position: absolute;
  color: #fff;
  font-size: 4em;
  z-index: 10;
}

/* .......box2....... */


.box2{
  position: relative;
  width: 260px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  overflow: hidden;
}

.box2::before{
  content: '';
  position: absolute;
  width: 210px;
  height: 100%;
  background: linear-gradient(#1DB9C3,#FF0075);
  animation: animate 4s linear infinite;
}

.box2::after{
  content: '';
  position: absolute;
  inset:4px;
  background: #0e1538;
}

@keyframes animate {
  0%{

    transform: rotate(0deg);
  }

  100%{

    transform: rotate(350deg);
  }
}

.box2 h2{

  position: absolute;
  color: #fff;
  font-size: 4em;
  z-index: 10;
}


/* ..........box3........... */


.box3{
  position: relative;
  width: 260px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  overflow: hidden;
}

.box3::before{
  content: '';
  position: absolute;
  width: 210px;
  height: 100%;
  background: linear-gradient(#1DB9C3,#FF0075);
  animation: animate 4s linear infinite;
}

.box3::after{
  content: '';
  position: absolute;
  inset:4px;
  background: #0e1538;
}

@keyframes animate {
  0%{

    transform: rotate(0deg);
  }

  100%{

    transform: rotate(350deg);
  }
}

.box3 h2{

  position: absolute;
  color: #fff;
  font-size: 4em;
  z-index: 10;
}
